@using Dependencies;
@using WebPL.Models;
@using CommonConstants;
@using DataValidator;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    DataToRoute.UserId = DependencyResolver.Instance.BL.UserLogic.GetUserId(User.Identity.Name);

    DataToRoute.RecipeId = -1;

    if (IsPost)
    {
        DataToRoute.RecipeId = GetrecipeId();

        if (DataToRoute.RecipeId > -1)
        {
            Response.Redirect("~/Pages/Recipe.cshtml");
        }
    }

}

@functions{
    public List<string> recipeData;

    public int counter = 0;


    void ParseRecipeData(string recipe)
    {
        recipeData = (recipe.Split(new string[] { DelimiterConstant.myDelimiter },
                StringSplitOptions.RemoveEmptyEntries)).ToList();
    }

    int GetrecipeId()
    {
        for (int i = 0; i < DependencyResolver.Instance.BL.RecipeLogic.GetEntities().Count; i++)
        {
            if (Request[i.ToString()] != null)
                return i + 1;
        }

        return -1;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel=" stylesheet" href="~/Styles/ElemList.css" />
    <title>Main page</title>
</head>
<body>
    @if (!string.IsNullOrEmpty(EntityToDeleteData.DeletionResult))
    {
        if (EntityToDeleteData.DeletionResult.ValidationPassed())
        {
            <div class="succsess_operation alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @EntityToDeleteData.DeletionResult
            </div>

            EntityToDeleteData.Reset();


        }
        else
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @EntityToDeleteData.DeletionResult
            </div>
        }
    }
    <ul style="position:inherit;" class="tilesWrap">
        @foreach (var recipe in DependencyResolver.Instance.BL.RecipeLogic.GetEntities())
        {
            ParseRecipeData(recipe);

            <li>
                <h2>
                    @counter
                </h2>


                <h3>
                    @recipeData[0]
                </h3>

                <p>
                    Recipe rating:
                    @recipeData[1] / 5
                </p>
                <form method="post">
                    <button name="@counter" type="submit"> Show more</button>
                </form>
            </li>
            counter++;
        }
    </ul>
</body>
</html>
